<h1>Post Show</h1>

<table class="table table-dark table-striped table-hover">
  <tbody>
    <tr>
      <td>Title</td>
    </tr>
    <tr>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <td>Content</td>
    </tr>
    <tr>
      <td><%= @post.content %></td>
    </tr>
  </tbody>
</table>
